.square
{
    opacity: 1;
    height: 25px;
    width: 25px;
    background-color: white;
    border-style: outset;
    border-width: 1px;
    border-color: aliceblue;
}

.red
{
    background-color: #e1352b;
}

.dark-blue
{
    background-color: #1b71b9;
}

.yellow
{
    background-color: #fef03b;
}

.green
{
    background-color: #91f560;
}

.orange
{
    background-color: #ff8600;
}

.light-blue
{
    background-color: #62e3e1;
}

.purple
{
    background-color: #7414b9;
}