.square
{
    height: 25px;
    width: 25px;
    background-color: white;
    margin: 1px;
}

.red
{
    background-color: darkred;
}

.dark-blue
{
    background-color: darkblue;
}

.yellow
{
    background-color: yellow;
}

.green
{
    background-color: green;
}

.orange
{
    background-color: darkorange;
}

.light-blue
{
    background-color: lightblue;
}

.purple
{
    background-color: purple;
}